* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c60d0d;
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-imagem {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(227, 171, 171);
}

main {
    flex: 1;
}

.cabecalho-link {
    color:white;
    text-decoration: none;
}

h1 {
    color:white;
    font-size: 24px;
}

footer {
    background-color: #c60d0d;
    padding: 15px 25px;
    color:white;
}